__pycache__/
.vscode
.venv
.xorkey
*.bin
*.dbss
*.db
*.db-*
*.dll
*.exe
*.key
*.pem
logs/*
*.log
*.pyc
bin/
config.toml
server/downloads/
server/logs/
server/uploads/
target/
dev_utils/execute_assembly_net48_test/obj/*

# Configuration Files
server/admin_web_ui/.env
implant/nim.cfg

# Node.js / Electron
node_modules/
*.tsbuildinfo
.DS_Store

# Build artifacts
server/admin_web_ui/dist/
server/admin_web_ui/out/
server/admin_web_ui/.next/


