__pycache__/
.vscode
.venv
.xorkey
*.bin
*.dbss
*.db
*.db-*
*.dll
*.exe
*.key
*.pem
logs/*
*.log
*.pyc
bin/
config.toml
server/downloads/
server/logs/
server/uploads/
target/
dev_utils/execute_assembly_net48_test/obj/*


